<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <div class="nav-bar"></div>
        <div class="cart">Cart({{ cart }})</div>
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <img v-bind:src="image" alt="product" />
                </div>
                <div class="product-info">
                    <h1>{{title}}</h1>
                    <h2>{{product}}</h2>
                    <p v-if="inventory > 10">In stock</p>
                    <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                    <p v-else>Out stock</p>
                    <ul>
                        <li v-for="detail in details">{{detail}}</li>
                    </ul>
                    <ul>
                        <li v-for="(size, index) in sizes" :key="index">{{ size }}</li>
                    </ul>
                    <div v-for="variant in variants" :key="variant.id" @mouseover="updateImage(variant.image)" class="color-circle" :style="{backgroundColor: variant.color}">

                    </div>
                    <p>{{description}}</p>
                    <p>{{price}}</p>
                    <button class="button" v-on:click="addToCart" :disabled="!inStock" :class="{disabledButton: !inStock}">Add to Cart</button>
                    <button class="button" @click="removeFromCart">Remove Item</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>

    <!-- Mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>

</body>

</html>